<html>
    <head>
        <meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/fonts.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
        <!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
<body>
<header class="header">
<nav class="logo">
    <a href="{{ path('kick_start_up_homepage') }}">
        <img src="{{asset('/images/kickstartup.png')}}" class="logo" alt="HomeChefHome"/>
    </a>
    <div class="burger">
        <div class="stripe"></div>
        <div class="stripe"></div>
        <div class="stripe"></div>
    </div>
</nav>

<nav class="menu">
    <ul class="nav">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <li><a href="{{path("fos_user_profile_show")}}">Mon compte</a></li>
        <li><a href="{{path("fos_user_security_logout")}}">Déconnexion</a></li>
        {% else %}
        <li><a href="{{path("fos_user_registration_register")}}">Inscription</a></li>
        <li id="login"><a href="{{path("fos_user_security_login")}}">Connexion</a></li>
        {% endif %}
        
    </ul>
</nav>
<div class="cb"></div>
</header>
<section class="content">
    {% block body %}{% endblock %}
</section>

<script src="{{ asset('js/jquery-1.11.3.min.js')}}"></script>
<script src="{{ asset('js/app.js')}}"></script>
</body>
</html>