{% extends "::base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
<section class="wrap">    
    <div class="startupList">
        <h1>Les startup</h1>
        {% if kickstartups != null %}
        {% for kickstartup in kickstartups%}
        <div class="unit">
            <div class="title">
                <h2><a href="{{ path('fiche_show', {'id':kickstartup.id}) }}">{{kickstartup.title}}</a></h2>
            </div>
            <div class="description">
                {{kickstartup.description|slice(0, 100)}}..
				<p><a href="{{ path('fiche_show', {'id':kickstartup.id}) }}">+ infos</a></p>
            </div>
            <div class="cb"></div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    {% if events != null %}
        {% for event in events %}
    <div class="eventSideList">
        <h2 class="h1">Les prochains events</h2>
        <div class="unit">
            <div class="title">
                <h2><a href="{{ path('event_show', {'id':event.id}) }}">{{event.title}}</a></h2>
            </div>
            <div class="description">
                <p>{{event.description}}</p>
                <p>{{event.city}}, {{event.date|date("m/d/Y")}}</p>
				
				<p><a href="{{ path('event_show', {'id':event.id}) }}">+ infos</a></p>
            </div>
        </div>
    </div>
           {% endfor %}
        {% endif %} 
</section>
{% endblock %}
