@font-face {
    font-family: 'FiraSans-Regular';
    src: 
        url('fonts/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),  
        url('fonts/FiraSans-Regular.otf')  format('opentype'),
        url('fonts/FiraSans-Regular.woff') format('woff'), 
        url('fonts/FiraSans-Regular.ttf')  format('truetype'), 
        url('fonts/FiraSans-Regular.svg#FiraSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FiraSans-Light';
    src: 
        url('fonts/FiraSans-Light.eot?#iefix') format('embedded-opentype'),  
        url('fonts/FiraSans-Light.otf')  format('opentype'),
        url('fonts/FiraSans-Light.woff') format('woff'), 
        url('fonts/FiraSans-Light.ttf')  format('truetype'), 
        url('fonts/FiraSans-Light.svg#FiraSans-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'vijayaregular';
    src: url('fonts/vijaya-webfont.eot');
    src: url('fonts/vijaya-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/vijaya-webfont.woff2') format('woff2'),
         url('fonts/vijaya-webfont.woff') format('woff'),
         url('fonts/vijaya-webfont.ttf') format('truetype'),
         url('fonts/vijaya-webfont.svg#vijayaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/ayfRv9GMahGqd-q6YxHjSg.woff2) format('woff2'), url(http://fonts.gstatic.com/s/lato/v11/1bHRUMxmJHoup12DnI9XmQ.woff) format('woff');
}