html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
h1,.h1{
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #555;
}
h2{
    color: #555;
    font-size: 18px;
}
a{
    color: #0f2105;
    text-decoration: none;
}
*{
    box-sizing: border-box;
}
body {
    background-color: #f1f1f1;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    font-family: 'FiraSans-Light';
    line-height: 1.2;
}
ol, ul, li{
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, 
blockquote:after,
q:before, 
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.cb{
    clear: both;
}
.desktop{
    display: none;
}
.fullWidth{
    width: 100%!important;
}
input,
select{
    font-family: 'Lato';
    min-height: 40px;
}
input:focus,
select:focus{
    border: solid 1px #2bde73!important;
    box-shadow: 0px 0px 1px #2bde73 inset;
}
input[type=email],
input[type=password],
input[type=phone],
input[type=text]{
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 2px #a0a0a0;
    font-size: 18px;
    font-family: 'Lato';
    padding: 2px 10px;
    position: relative;
    width: 100%;
}
/**/
header.header{
    background: white; 
    padding-top: 15px;
    width: 100%;
}
header.header nav{
    width: 100%;
}
header.header nav.logo{
    margin: 0 auto;
    text-align: center;
}
header.header nav.logo img.logo{
    width: 256px;
}
header.header nav.logo div.burger{
    border-radius: 5px;
    height: 33px;
    margin: 0 auto;
    position: relative;
    right: 0;
    top: 0;
    width: 33px;
}
header.header nav.logo div.burger:hover{
    cursor: pointer;
}
header.header nav.logo div.burger div.stripe{
    background-color: #2bde73;
    border-radius: 5px;
    height: 5px;
    margin: 6px 0;
}
header.header nav.logo div.burger div.stripe.click,
header.header nav.logo div.burger:hover div.stripe{
    box-shadow: 0px 0px 2px #d0d0d0;
}
header.header nav.logo div.burger:hover div.stripe.click{
    box-shadow: none;
}
header.header nav.menu{
    background: white; 
    border: solid 1px #d9d9d9;
    box-shadow: 0px 0px 5px 0px #d0d0d0;
    display: none;
    position: absolute;
    text-align: center;
    z-index: 1;
}
header.header nav.menu ul.nav li {
    border-bottom: 1px solid #f5f5f5;
    height: 35px;
    line-height: 35px;
}
header.header nav.menu ul.nav li,
header.header nav.menu ul.nav li a{
    color: #0f2105;
    font-family: 'Lato';
    width: 100%;
}
header.header nav.menu ul.nav li:hover,
header.header nav.menu ul.nav li a:hover{
    color: #2bde73;
    cursor: pointer;
}
header.header nav.menu ul.nav li:first-letter{
    text-transform: uppercase;
}
header.header nav.menu ul.nav li:hover{
    background: #f9f9f9;
}
.wrap{
    margin: 0 auto; 
    margin-top: 25px; 
    max-width: 960px;
    width: 100%;
}
.startupList,
.eventSideList{
    border-radius: 5px;
    height: auto;
    padding: 5px;
}
.startupList .unit,
.eventSideList .unit{
    padding: 10px;
}
.startupList .unit:nth-child(2n),
.eventSideList .unit:nth-child(2n){
    background: #fafafa;
}
.startupList{
    background: #2bde73;
    border-radius: 5px;
    height: auto;
    width: 100%;
}
.startupList .unit{
    background: white;
}
.startupList .unit h2{
    text-align: center;
    margin: 10px 0 25px 0;
}
.startupList .unit .description{
    text-align: justify;
}
.startupList .unit .illus{
    margin: 0 auto;
    text-align: center;
    width: auto;
}
.startupList .unit .illus img.illus{
    margin: 0 auto;
    width: 50%;
}
.eventSideList{
    background: #0f2105;
    margin-top: 25px;
    width: 100%;
}
.eventSideList .unit{
    background: #f9f9f9;
}
.eventSideList .unit .info{
    background: #ff0000;
    border-radius: 5px;
    text-align: center;
    width: 60px;
}
.eventSideList .unit .info:hover{
    background: rgba(255, 0, 0, 0.8);
}
.form{
	padding: 10px;
	margin: 0 auto;
	max-width: 666px;
	width: 100%;
}
.form div{
	position: relative;
	width: 100%;
}
.form div textarea,
.form div input,
.form div select{
	background: white;
	border: none;
    border-radius: 5px;
    box-shadow: 0 0 2px #a0a0a0;
    font-family: 'Lato';
	font-size: 18px;
	height: 25px;
	padding: 2px 10px;
    width: 100%;
}
.form div textarea{
	padding-top: 10px;
	height: 150px;
}
.form div select{
	max-width: 100px;
	text-align: center;
	width: 33%;
}
select#kickstartup_appbundle_event_fiche{
	width: 100%;
}
.form div textarea:focus,
.form div input:focus,
.form div select:focus{
    border: solid 1px #2bde73!important;
    box-shadow: 0px 0px 1px #2bde73 inset;
}
input[type=submit],
button{
    background: #ff5a5f repeat scroll 0 0;
    -webkit-border-radius: 0 0 5px 5px;
    border: 1px solid #22af5a; 
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 0 #ff5a5f inset, 0 3px 0 0 #2bde73;
    -moz-box-shadow: 0 1px 0 #ff5a5f inset, 0 3px 0 0 #2bde73;
    box-shadow: 0 3px 0 0 #2bde73;
    color: #fff;
    font-size: 20px;
    height: 40px;
    line-height: 35px;
    white-space: nowrap;
    -webkit-appearance: none;
	max-width: 300px;
    width: 100%;
}
input[type=submit]:hover,
button:hover{
    background: #2bde73 none repeat scroll 0 0;
}
input[type=submit],
button:focus{
    background-color: #22af5a;
}
.records_list{
	margin: 0 auto;
	max-width: 666px;
	width: 100%;
}
.startup .infos{
	padding: 10px 15px;
}
.startup .infos,
.startup .rel{
	margin: 0 auto;
	max-width: 666px;
	width: 100%;
}
.startup .rel ul {
	margin: 0 auto;
	max-width: 250px;
	padding-top: 25px;
	width: 100%;
}
.startup .rel ul li{
	background-position: left center;
	background-repeat: no-repeat;
	font-weight: bold;
	text-align: left;
	text-indent: 30px;
	padding: 5px 10px;
	width: 100%;
}
.startup .rel .title{
	background-image: url('../images/title.png');
}
.startup .rel .description{
	background-image: url('../images/description.png');
}
.startup .rel .phone{
	background-image: url('../images/phone.png');
}
.startup .rel .email{
	background-image: url('../images/email.png');
}
.startup .rel .facebook{
	background-image: url('../images/facebook.png');
}
.startup .rel .twitter{
	background-image: url('../images/twitter.png');
}
.startup .rel .viadeo{
	background-image: url('../images/viadeo.png');
}
.startup .rel .linkedin{
	background-image: url('../images/linkedin.png');
}
.startup .rel .city{
	background-image: url('../images/city.png');
}
.startup .rel .date{
	background-image: url('../images/date.png');
}
@media only screen and (min-width: 800px){
    .mobile{
        display: none;
    }
    .desktop{
        display: inline;
    }
    header.header div.burger{
        display: none;
    }
    header.header nav{
        width: auto;
    }
    header.header nav.menu{
        border: none;
        box-shadow: none;
        display: block!important;
        position: relative;
        margin: 0 auto;
        max-width: 960px;
    }
    header.header nav.menu ul{
    }
    header.header nav.menu ul.nav li {
        float: left;
        height: 35px;
        line-height: 35px;
    }
    header.header nav.menu ul.nav li,
    header.header nav.menu ul.nav li a{
        color: #0f2105;
        border: none;
        font-size: 18px;
        width: 50%;
    }
    header.header nav.menu ul.nav li:hover,
    header.header nav.menu ul.nav li a:hover{
        background: none;
        color: #2bde73;
        cursor: pointer;
    }
    header.header nav.logo img.logo{
        max-width: 384px;
        width: 50%;
    }    
    header.backoffice nav.nav section.nav img.logo {
        max-height: 64px;
    }
    header.backoffice nav.nav section.nav p.username {
        line-height: 64px;
    }
    .startupList,
    .eventSideList{
        float: left;
    }
    .startupList{
        width: 70%;
    }
    .startupList .unit .description{
        float: left;
        text-align: justify;
    }
    .startupList .unit .illus{
        float: right;
    }
    .startupList .unit .illus img.illus{
    }
    .eventSideList{
        max-width: 320px;
        margin-top: 0;
        width: 30%;
    }
    .eventSideList .unit{
    }
	tr th{
		width: 16.666666667%;
	}
@media only screen and (min-width: 640px){
    h1{
        font-size: 25px;
    }
    h2{
        font-size: 25px;
    }
	.startup{
		margin: 0 auto;
		width: 666px;
	}
	.startup .infos{
		float: left;
		padding-right:  50px;
		width: 70%;
	}
	.startup .rel{
		float: right;
		width: 30%;
	}
}