{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Fiche edit</h1>

	<div class="form">
		{{ form(edit_form) }}
	</div>
	
        <ul class="record_actions">
			<li>
				<a href="{{ path('fiche') }}">
					Back to the list
				</a>
			</li>
			<li>{{ form(delete_form) }}</li>
		</ul>
	</div>
{% endblock %}
