{% extends '::base.html.twig' %}

{% block body -%}
    {% if entities %}
		<div class="startup">
			<div class="records_list">
			<h1>Liste des fiches</h1>
					{% for entity in entities %}
					<div class="infos">
						<ul>
							<li class="title"><a href="{{ path('fiche_show', {'id':entity.id}) }}">{{ entity.title }}</a></li>
							<li class="description">{{ entity.description|slice(0,100) }}..</li>
						</ul>
					</div>
					{% endfor %}
			</div>
        </div>
    {% else %}
        Vous n'avez aucune fiche de start-up créée.
        <br><br>
        <a href="{{ path('fiche_new') }}">Créez en une maintenant</a>
    {% endif %}
{% endblock %}
