{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Fiche creation</h1>

	<div class="form">
		{{ form(form) }}
	</div>

        <ul class="record_actions">
    <li>
        <a href="{{ path('fiche') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
