{% extends '::base.html.twig' %}

{% block body -%}
		<div class="startup">
			<div class="records_list">
			<h1>Liste des fiches</h1>
				<div class="infos">
					<ul>
						<li class="title">{{ entity.title }}</li>
						<li class="description">{{ entity.description }}</li>
					</ul>
				</div>
				<div class="rel">
					<ul>
						<li class="phone">{{ entity.phone }}</li>
						<li class="email">{{ entity.email }}</li>
						<li class="facebook">{{ entity.facebook }}</li>
						<li class="twitter">{{ entity.twitter }}</li>
						<li class="viadeo">{{ entity.viadeo }}</li>
						<li class="linkedin">{{ entity.linkedin }}</li>
						<li>
							<ul>
								<li>
									<a href="{{ path('fiche_show', { 'id': entity.id }) }}">show</a>
								</li>
								<li>
									<a href="{{ path('fiche_edit', { 'id': entity.id }) }}">edit</a>
								</li>
							</ul>
						</li>
					</ul>
			</div>
        </div>
{% endblock %}
