{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show" style="text-align: center;">
    {% if fiches %}
        <h1>Liste des fiches</h1>
        <table class="records_list">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Facebook</th>
                    <th>Twitter</th>
                    <th>Viadeo</th>
                    <th>Linkedin</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for fiche in fiches %}
                    <tr class="infos">
                        <td><a href="{{ path('fiche_show', { 'id': fiche.id }) }}">{{ fiche.id }}</a></td>
                        <td class="title">{{ fiche.title }}</td>
                        <td class="description">{{ fiche.description }}</td>
                        <td class="phone">{{ fiche.phone }}</td>
                        <td class="email">{{ fiche.email }}</td>
                        <td class="facebook">{{ fiche.facebook }}</td>
                        <td class="twitter">{{ fiche.twitter }}</td>
                        <td class="viadeo">{{ fiche.viadeo }}</td>
                        <td class="linkedin">{{ fiche.linkedin }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('fiche_show', { 'id': fiche.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('fiche_edit', { 'id': fiche.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('fiche_new') }}" style="text-decoration: underline;">Créez une nouvelle fiche</a>
        <br><br><br><br>
    {% else %}
        <br><br>
        Vous n'avez aucune fiche de start-up créée.
        <br><br>
        <a href="{{ path('fiche_new') }}" style="text-decoration: underline;">Créez une nouvelle fiche</a>
        <br><br><br><br>
    {% endif %}

    {% if events %}
        <h1>Liste des évènements</h1>
        <table class="records_list">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>City</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                    <tr class="infos">
                        <td><a href="{{ path('event_show', { 'id': event.id }) }}">{{ event.id }}</a></td>
                        <td class="title">{{ event.title }}</td>
                        <td class="description">{{ event.description }}</td>
                        <td class="city">{{ event.city }}</td>
                        <td>{% if event.date %}{{ event.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('event_show', { 'id': event.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('event_edit', { 'id': event.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
            <a href="{{ path('event_new') }}" style="text-decoration: underline;">Créez un nouveau évènement</a>
        <br><br><br><br>
    {% else %}
        Vous n'avez aucun évènement organisé.
        <br><br>
        <a href="{{ path('event_new') }}" style="text-decoration: underline;">Créez un nouveau évènement</a>
    {% endif %}
</div>
