{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Event edit</h1>
	
	<div class="form">
		{{ form(edit_form) }}
	</div>
	<ul class="record_actions">
		<li>
			<a href="{{ path('event') }}">
				Back to the list
			</a>
		</li>
		<li>{{ form(delete_form) }}</li>
	</ul>
{% endblock %}
