{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Les events à venir</h1>

	<div class="records_list">
        {% for entity in entities %}
            <ul class="infos">
                <li><a href="{{ path('event_show', { 'id': entity.id }) }}">{{ entity.id }}</a></li>
                <li class="title">{{ entity.title }}</li>
                <li class="description">{{ entity.description }}</li>
                <li class="city">{{ entity.city }}</li>
                <li class="date">{% if entity.date %}{{ entity.date|date('d-m-Y H:i:s') }}{% endif %}</li>
                <li>
                <ul>
                    <li>
                        <a href="{{ path('event_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('event_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </li>
            </tr>
        {% endfor %}

		<ul>
			<li>
				<a href="{{ path('event_new') }}">
					Create a new entry
				</a>
			</li>
		</ul>
	</div>
    {% endblock %}
