{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Event creation</h1>
	
	<div class="form">
		{{ form(form) }}
	</div>

	<ul class="record_actions">
		<li>
			<a href="{{ path('event') }}">
				Back to the list
			</a>
		</li>
	</ul>
{% endblock %}
