{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Event participation confirmed</h1>
	
		<h2>M. {{ firstname }} {{ lastname }}, vous avez bien été inscrit à l'event : {{ entity.title}}</h2>

        <ul class="record_actions">
    <li>
        <a href="{{ path('event') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
