{% extends '::base.html.twig' %}

{% block body -%}

		<div class="startup">
		<div class="records_list">
		<h1>Participation à {{ entity.title }}</h1>
			<div class="infos">
				<ul>
					<li class="city">{{ entity.city }}</li>
					<li class="date">{{ entity.date|date('d-m-Y') }}</li>
				</ul>
				<div class="description">{{ entity.description }}</div>
			</div>
		</div>
		
		<div class="cb"></div>


    {{ form_start(form, {'action': path('event_participate', {'id': entity.id})}) }}
		{{ form_errors(form) }}

		{{ form_row(form.firstname) }}
		{{ form_row(form.lastname) }}
		
		<h2>L'inscription à cet évènement coûte 200 000 K euros.</h2>

		<input type="submit" value="Valider l'inscription"/>
	{{ form_end(form) }}

{% endblock %}
