{% extends '::base.html.twig' %}

{% block body -%}
	<div class="startup">
	<div class="records_list">
	<h1>{{ entity.title }}</h1>
		<div class="infos">
			<ul>
				<li class="city">{{ entity.city }}</li>
				<li class="date">{{ entity.date|date('d-m-Y') }}</li>
			</ul>
			<div class="description">{{ entity.description }}</div>
		</div>
		<a href="{{ path('event_participate', {'id':entity.id} ) }}">Participer</a>
	</div>
{% endblock %}
